/home-fs/bin/aliases/**
home-fs/bin/aliases/*
home-fs/bin/valiases/*
home-fs/bin/aliases
home-fs/bin/valiases
home-fs/bin/dmenu_specific/*
home-fs/bin/dmenu_specific/**
home-fs/.gitconfig

# ignore swapfiles
**.swp
**.swo
**~
elan-init.sh

home-fs/.VOLUME
home-fs/.config/nitrogen/**
home-fs/.config/nitrogen/*
home-fs/.config/nitrogen

#initial ignores from kickstart.nvim
home-fs/.config/nvim/tags
home-fs/.config/nvim/test.sh
home-fs/.config/nvim/.luarc.json
home-fs/.config/nvim/nvim
home-fs/.config/nvim/spell/
